/* Text */
body {
  background-image: url("images/bg.jpeg");
  background-color: black; 
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 400; 
  color: white;
  margin:0;
  font-size:16px;

  transition: opacity 1.5s ease-in;
}
body.loaded {
  opacity: 1;
}

h1, h2, h3, h4, h5, h6 {
  color: white;
  font-weight: 700;
}

.one {
  padding:30px;
}

/* images */
.crop-img { /*Main image*/
  width: 100%;
  height: 600px; 
  object-fit: cover;
  filter: brightness(40%); 
}
    /*Main image*/
    .img-with-text {
      position: relative;
      display: inline-block;
      width: 100%;
    }
    /*Main image*/
    .img-text {
      position: fixed;
      top: 45%;
      left: 50px;
      color: white;
      text-shadow: 2px 2px 5px black;
      font-size:26px;
      max-width: 50%;
    }

/* Navbar 1*/
.navbar {
  display: flex;
  justify-content: center; 
  background: transparent; 
}

  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; 
    gap: 200px;
  }

  .navbar li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    transition: color 0.1s ease;
    font-size: 20px;
  }

  .navbar li a:hover {
    color: gray;
  }

/* Navbar 2 */
.navbar2 {
  width: 100%; 
  display: flex;
  justify-content: center; 
  background: transparent; 
  border-bottom: 1px solid #fff; 
}

  .navbar2 ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    display: flex; 
    gap: 600px;
    align-items: stretch;
  }

  .navbar2 li {
    display: flex; 
    align-items: center; 
  }

  .navbar2 li:first-child {
    border-right: 1px solid #fff; 
  }

  .navbar2 li:last-child {
    border-left: 1px solid #fff; 
  }

  .navbar2 li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    transition: color 0.1s ease;
  }

  .navbar2 li a:hover {
    color: gray;
  }


  /* Navbar 3 */
.navbar3 {
  position: absolute;
  top: 700px;
  z-index: 2;
  display: flex;
  justify-content: left;
  padding-left: 30px;
  padding-top: 0;
}

  .navbar3 ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex; 
    gap: 0px;
  }

  .navbar3 li a {
    display: block;
    padding: 8px;
    text-decoration: none;
    color: white;
    font-size:26px;
    background-color: #8d77ab;
  }

  .navbar3 li a:hover {
    color: gray;
  }